# Godot 4+ specific ignores
.godot/

addons

export_presets.cfg

.DS_STORE
.env
.ignore.env

icon.svg
icon.svg.import

*.import
*.translation

android
.vscode/settings.json

Cloud Functions/experimental/